{% extends "use/layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="container">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-floating my-3">
                <input class="form-control" type="text" name="username" id="username" placeholder="Username" autocomplete="off" required>
                <label for="userame">Username</label>
            </div>
            <div class="form-floating my-3">
                <input class="form-control" type="password" name="password" id="password" placeholder="Password" autocomplete="off" required>
                <label for="password">Password</label>
            </div>
            <input class="btn btn-primary my-3" type="submit" value="Login">
        </form>
        {% if message %}
            {{message}}
        {% endif %}
    </div>
{% endblock %}